body {
  padding-top:70px;
}
.ui-autocomplete.ui-front {
	position: absolute;
    z-index: 9999;
}

iframe.panel-body {
	border: none;
	padding:0;
}
.modal-body .loader {
	padding: 100px 0;
}
.transaction-amount {
	text-align: right;
}
#recon .scrollable-box {
	height: 350px;
	overflow-y: scroll;
}
#recon .scrollable-box .list-group > .list-group-item  {
	padding: 5px 10px;
	font-weight: normal;
	font-size: 12px;
}
#recon .scrollable-box .list-group > .list-group-item:hover  {
	background: #DDD;
}
#recon .scrollable-box .list-group > .list-group-item  .balance_end  {
	font-weight: bold;
	font-size: 14px;
}
#recon .list-group-item.highlight {
	background-color: #dff0d8;
}
@media (max-width: 767px) {
	.navbar-brand {
		position: absolute;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    width: 80%;
	}
}

	.glyphicon-ok.green {
		color:green;
	}
	.glyphicon-remove.red {
		color:red;
	}
	.allcaps {
		text-transform: uppercase;
	}
	.font200p {
		font-size: 200%;
	}
	.font195p {
		font-size: 195%;
	}
	.font190p {
		font-size: 190%;
	}
	.font185p {
		font-size: 185%;
	}
	.font180p {
		font-size: 180%;
	}
	.font175p {
		font-size: 175%;
	}
	.font170p {
		font-size: 170%;
	}
	.font165p {
		font-size: 165%;
	}
	.font160p {
		font-size: 160%;
	}
	.font155p {
		font-size: 155%;
	}
	.font150p {
		font-size: 150%;
	}
	.font145p {
		font-size: 145%;
	}
	.font140p {
		font-size: 140%;
	}
	.font135p {
		font-size: 135%;
	}
	.font130p {
		font-size: 130%;
	}
	.font125p {
		font-size: 125%;
	}
	.font120p {
		font-size: 120%;
	}
	.font115p {
		font-size: 115%;
	}
	.font110p {
		font-size: 110%;
	}
	.font105p {
		font-size: 105%;
	}
	.font95p {
		font-size: 95%;
	}
	.font90p {
		font-size: 90%;
	}
	.font85p {
		font-size: 85%;
	}
	.font80p {
		font-size: 80%;
	}
	.font75p {
		font-size: 75%;
	}
	.font70p {
		font-size: 70%;
	}
	.font65p {
		font-size: 65%;
	}
	.font60p {
		font-size: 60%;
	}
	.font55p {
		font-size: 55%;
	}
	.font50p {
		font-size: 50%;
	}
	.font45p {
		font-size: 45%;
	}
	.font40p {
		font-size: 40%;
	}
	.bold {
		font-weight: bold;
	}

@media (min-width: 400px) {
	.container {
		width:100%;
	}
	td.total {
		background: rgba(0,0,0,.1);
	}
	tr.item td.item-label {
		padding-left:20px;
	}
	#divisible_income {
		font-weight: bold;
	}
	
	.stat-font {
		font-weight: bold;
		font-size:25px;
		vertical-align: middle;
	}

	.list-group.list-group-icons {
		
	}
	.list-group.list-group-icons > .list-group-item {
		width: 114px;
	    text-align: center;
	    display: inline-block;
	    border-radius: 4px;
	    padding:15px;
	    min-height: 100px;
	    float: left;
	    font-size: 12px;
	    color: #555555;
	    text-transform: uppercase;
	    font-weight: bold;
	    margin-bottom:15px;
	    margin-right: 15px;
	}
	.list-group.list-group-icons > .list-group-item > .badge {
		position: absolute;
	    right: 15px;
	    padding: 4px 8px;
	    background-color: #c71c22;
	}
	.list-group.list-group-icons > .list-group-item:first-child {
		margin-left: 0px;
	}

	.list-group.list-group-icons > .list-group-item .glyphicon,
	.list-group.list-group-icons > .list-group-item .fa, 
	.list-group.list-group-icons > .list-group-item .octicon,
	.list-group.list-group-icons > .list-group-item .dashicons {
		display: block;
		font-size: 40px;
		margin-bottom: 10px;
	}
	.list-group.list-group-icons > .list-group-item .dashicons {
		width: 40px;
		height: 40px;
		display: inline-block;
	}
	.list-group.list-group-icons.icons2 > .list-group-item {
		width: 15%;
		padding: 30px;
	}
	#homepage .panel:hover {
		box-shadow: 0 1px 1px 2px rgba(23, 138, 204,0.5);
	}
	.ui-autocomplete-loading {
	    background: white url("../images/ui-anim_basic_16x16.gif") right center no-repeat;
	  }
	 .edit_invoices_item {
	 	display: none;
	 }
}

@media (min-width: 992px) {
	.list-group.list-group-icons > .list-group-item {
	    width: 104px;
	    text-align: center;
	    display: inline-block;
	    border-radius: 4px;
	    padding: 15px;
	    min-height: 100px;
	    float: left;
	    font-size: 12px;
	    color: #555555;
	    text-transform: uppercase;
	    font-weight: bold;
	    margin-bottom: 15px;
	    margin-right: 15px;
	}
	.list-group.list-group-icons > .list-group-item .glyphicon,
	.list-group.list-group-icons > .list-group-item .fa, 
	.list-group.list-group-icons > .list-group-item .octicon {
		display: block;
		font-size: 40px;
		margin-bottom: 10px;
	}
}
a.item, a.item:hover {
	color:#555555;
	text-decoration: none;
}

.detailed-schedule {
	display: none;
}

#ajaxBodyInnerPage, #bodyWrapper {
	position: relative;
}
#ajaxBodyInnerPage .loading-wait,
#bodyWrapper .loading-wait
 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.1);
	z-index: 999;
}
#ajaxBodyInnerPage .loading-wait > img,
#bodyWrapper .loading-wait > img {
	margin: 10% auto;
	display: block;
}


/* calendar */
table.calendar    { border-left:1px solid #999; width: 100%; }
tr.calendar-row {  }
td.calendar-day { min-height:80px; font-size:11px; position:relative; } * html div.calendar-day { height:80px; }
td.calendar-day2 { min-height:100px; font-size:11px; position:relative; } * html div.calendar-day2 { height:100px; }
td.calendar-day:hover { background:#eceff5; }
td.calendar-day-np  { background:#eee; min-height:80px; } * html div.calendar-day-np { height:80px; }
td.calendar-day-head { background:#ccc; font-weight:bold; text-align:center; width:14.28571428571429%; padding:5px; border-bottom:1px solid #999; border-top:1px solid #999; border-right:1px solid #999; }
div.day-number { 
	top:0; 
	position: absolute;
    right: 0;
    background:#999; padding:5px; color:#fff; font-weight:bold; float:right; margin:0; width:20px; text-align:center; }
/* shared */
div.day-number.day-number2 {
	font-size: 16px;
	width: 35px;
}
td.calendar-day, td.calendar-day-np { height: 58px; width:14.28571428571429%; padding:5px; border-bottom:1px solid #999; border-right:1px solid #999; }
td.calendar-day.calendar-day2 {
	height: 100px;
}
td.calendar-day .date_checkbox {
	display: block;
    float: left;
    width: 100%;
    /* height: 100%; */
    text-align: left;
}

td.calendar-day .date_link {
	display: block;
    width: 100%;
    height: 100%;
}

td.calendar-day .date_link {
	display: block;
    width: 100%;
    height: 100%;
	text-align: left;
}

td.calendar-day.has-data {
	background-color: #24f07f59;
}

td.calendar-day.current-day {
	background-color: #f0242459;
	border:3px solid #7b7b7b;
}

td.calendar-day.disabled {
	background-color: #F3DCDC!important;
}
td.calendar-day.is_absent {
	background-color: #dff0d8!important;
}
.panel-footer .table {
	margin-bottom: 0!important;
}
.panel-footer .table td,
.panel-footer .table th {
	border-top:none!important;
}


/* *********  start nprogress  **************************** */


/* Make clicks pass-through */

#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: #29d;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

/* Fancy blur effect */

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}
.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner, .nprogress-custom-parent #nprogress .bar {
  	position: absolute;
}
@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* *********  end nprogress  **************************** */
.stickynav1.navbar-fixed-top {
	top: 50px;
	z-index: 999;
}
@media print { 
  a:after { content:''; }
  a[href]:after { content: none !important; } 
  .hide-print {
    display: none;
  }
  .pagination {
  	display: none;
  }
}

/* ******************** custom theme adjustments ***************************** */

body.theme-readable {
	padding-top: 85px;
}
body.theme-readable .stickynav1.navbar-fixed-top {
	top: 66px;
	z-index: 999;
}

body.theme-darkly {
	padding-top: 80px;
}
body.theme-darkly .stickynav1.navbar-fixed-top {
	top: 60px;
	z-index: 999;
}

body.theme-flatly {
	padding-top: 80px;
}
body.theme-flatly .stickynav1.navbar-fixed-top {
	top: 60px;
	z-index: 999;
}

body.theme-journal {
	padding-top: 80px;
}
body.theme-journal .stickynav1.navbar-fixed-top {
	top: 60px;
	z-index: 999;
}

body.theme-lumen .stickynav1.navbar-fixed-top {
	top: 54px;
	z-index: 999;
}

body.theme-paper {
	padding-top: 80px;
}
body.theme-paper .stickynav1.navbar-fixed-top {
	top: 64px;
	z-index: 999;
}

body.theme-sandstone {
	padding-top: 80px;
}
body.theme-sandstone .stickynav1.navbar-fixed-top {
	top: 63px;
	z-index: 999;
}

body.theme-simplex {
	padding-top: 60px;
}
body.theme-simplex .stickynav1.navbar-fixed-top {
	top: 40px;
	z-index: 999;
}

body.theme-superhero {
	padding-top: 60px;
}
body.theme-superhero .stickynav1.navbar-fixed-top {
	top: 40px;
	z-index: 999;
}

body.theme-yeti {
	padding-top: 65px;
}
body.theme-yeti .stickynav1.navbar-fixed-top {
	top: 45px;
	z-index: 1001;
}

.item_nav {
	position: absolute;
	border:1px solid #000;
	top:50%;
	background-color: #CCC;
	border-radius: 5px;
	font-size: 20px;
}
.item_nav a {	
	padding:10px;
}
.item_nav.next {
	top:45%;
}
.item_nav.next:hover {

}
.item_nav.previous {
	left:-25px;
}
.item_nav.previous:hover {

}
.badge.nav-badge {
	padding: 3px 5px;
	font-size: 8px;
	margin: -5px;
	background: red;
	color:#FFF;
}
.theme-simplex .badge.nav-badge {
	background: blue;
}